.down{
    text-align: center;
}
ul, li {
    list-style: none;
}
.downicon{
    position: absolute;
    bottom: 0;
    opacity: 0.5;
}
.about{
    height: 95vh;
    width: 100%;
    background-color: white;
}
.pics{
    border-radius: 50%;
}

.b1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;


}
.b1element{
    padding-right: 5%;
    padding-left: 5%;

}
.b1a{
    transform: translateY(200%);
    text-align: center;
    font-family: "text";
    color:black;
    text-decoration: underline;

}
.b1b{
    text-align: left;
    transform: translateX(-9%);
    width: 100%;
    align-self: center;
    font-family: header;
}

.b2{
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.b2h1{
    text-align: center;
    font-family: "text";
    color: black;
    text-decoration: underline;
    transform: translateY(-300%);

}

.b2a {
    text-align: center;
    overflow-y: auto;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transform: translateY(-30%);
}
.b2a p, ul {
    font-size: .7em;
}
.b2a h3 {
    font-family: header;
}

.pic{
    height: 45%;
    width: 45%;
    box-shadow: 0px 0px 18px -6px black;
}
.pic:hover{
    box-shadow: 0px 0px 40px -6px black;
}
.down{
    display: flex;
    justify-content: center;
}
.b1downicon {
    z-index: 2;
    background-color: white;
}

.buttons{
    border-radius: 10%;
    padding: 10%;
    background-color: beige;
    font-family: "Dosis";
    border: black solid 1px;
    cursor: pointer;
}
/*  <---- Media Queries ----> */

/*  <---- Mobile Landscape ----> */

@media screen and (min-width: 360px) {
    .about{
        height: 200vh;
        width: 100%;
        background-color: white;
    }
    .b1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;;
        transform: translateY(20%);
    }
    .pics{
        height:60%;
    }
    .b1element{
        text-align: center;

    }
    .b1a{
        transform: translateY(22%);
        text-align: center;
        text-decoration: none;
        background-color: black;
        color:white;
        border-radius: 25px;
        border: solid 2px black;
        padding: 0%;
    }
    .b1b{
        text-align: center;
        width: 50%;
        left: 34%;
        top: -25%;
        position: relative;
    }
    .cv {
        height: 50%;
    }
    .b2{
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateY(22%);
    }
    .b2h1{
        text-align: center;
        font-family: "text";

        text-decoration: none;
        transform: translateY(22%);
        background-color: black;
        color:white;
        border-radius: 25px;
        border: solid 2px black;
        padding: 0%
    }

    .b2a {
        text-align: center;
        overflow-y: auto;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        transform: translateY(-22%);
        margin-top: 10%;
    }
    .buttons{
        border-radius: 10%;
        background-color: beige;
        font-family: "Dosis";
        border: black solid 1px;
        cursor: pointer;
    }
    .pic {
        height: 100%;
        width: 50%;
        box-shadow: none;
    }
    .down{
        display: flex;
        justify-content: center;
    }
    .b1downicon {
        z-index: 2;
        background-color: white;
        position: absolute;
        bottom: -219%;
        left: 41%;
    }
}

@media screen and (min-width: 666px) {
    .about{
        height: 370vh;
        width: 100%;
        background-color: white;
    }
    .b1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;;
        transform: translateY(2%);
    }
    .pics{
        height:60%;
    }
    .b1element{
        text-align: center;

    }
    .b1a{
        transform: translateY(2%);
        text-align: center;
        text-decoration: none;
        background-color: black;
        color:white;
        border-radius: 25px;
        border: solid 2px black;
        padding: 0%;
    }
    .b1b{
        text-align: center;
        width: 50%;
        left: 30%;
        top: -25%;
        position: relative;
    }
    .cv {
        height: 50%;
    }
    .b2{
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        transform: translateY(2%);
    }
    .b2h1{
        text-align: center;
        font-family: "text";
        transform: translateY(-300%);
        text-decoration: none;
        background-color: black;
        color:white;
        border-radius: 25px;
        border: solid 2px black;
    }

    .b2a {
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
    .buttons{
        border-radius: 10%;
        background-color: beige;
        font-family: "Dosis";
        border: black solid 1px;
        cursor: pointer;
    }
    .pic {
        height: 100%;
        width: 50%;
        box-shadow: none;
    }
    .down{
        display: flex;
        justify-content: center;
    }
    .b1downicon {
        z-index: 2;
        background-color: white;
        position: absolute;
        bottom: -385%;
        left: 47%;
    }
}

/*  <---- Tablet portrait ----> */

@media screen and (min-width: 768px) {
    .about{
        height: 180vh;
        width: 100%;
        background-color: white;
    }
    .b1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 50%;;
        transform: translateY(2%);
    }
    .pics{
        height:60%;
        transform: translateY(50%);
    }
    .b1element{
        text-align: center;

    }
    .b1a{
        transform: translateY(2%);
        text-align: center;
        text-decoration: none;
        background-color: black;
        color:white;
        border-radius: 25px;
        border: solid 2px black;
        padding: 0%;
    }
    .b1b{
        text-align: center;
        width: 50%;
        left: 25.5%;
        top: -25%;
        position: relative;
    }
    .cv {
        height: 50%;
    }
    .b2{
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        transform: translateY(2%);
    }
    .b2h1{
        text-align: center;
        font-family: "text";
        transform: translateY(-300%);
        text-decoration: none;
        background-color: black;
        color:white;
        border-radius: 25px;
        border: solid 2px black;
    }

    .b2a {
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
    .buttons{
        border-radius: 10%;
        background-color: beige;
        font-family: "Dosis";
        border: black solid 1px;
        cursor: pointer;
    }
    .pic {
        height: 100%;
        width: 50%;
        box-shadow: none;
    }
    .down{
        display: flex;
        justify-content: center;
    }
    .b1downicon {
        z-index: 2;
        background-color: white;
        position: absolute;
        bottom: -195%;
        left: 49%;
    }
}

/*  <---- Tablet landscape ----> */

@media screen and (min-width: 992px) {
    .b1b{
        text-align: center;
        width: 50%;
        left: 28.5%;
        top: -25%;
        position: relative;
    }
}

/*  <---- Laptops + ----> */

@media screen and (min-width: 1200px) {
    .about{
        height: 95vh;
        width: 100%;
        background-color: white;
    }
    .b1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 50%;;
        transform: translateY(2%);
    }
    .pics{
        height: 60%;
        transform: translateY(0%);
    }
    .b1element{
        text-align: center;

    }
    .b1a{
        transform: translateY(2%);
        text-align: center;
        text-decoration: none;
        background-color: black;
        color:white;
        border-radius: 25px;
        border: solid 2px black;
        padding: 0%;
    }
    .b1b{
        text-align: center;
        width: 50%;
        align-self: flex-start;
        font-family: header;
    }
    .cv {
        height: 50%;
    }
    .b2{
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;

    }
    .b2h1{
        text-align: center;
        font-family: "text";
        transform: translateY(-300%);
        text-decoration: none;
        background-color: black;
        color:white;
        border-radius: 25px;
        border: solid 2px black;
    }

    .b2a {
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
        margin: 0;
    }
    .buttons{
        border-radius: 10%;
        background-color: beige;
        font-family: "Dosis";
        border: black solid 1px;
        cursor: pointer;
    }
    .pic {
        height: 25%;
        width: 45%;
        box-shadow: none;
        box-shadow: 0px 0px 18px -6px black;
    }
    .pic:hover{
        box-shadow: 0px 0px 40px -6px black;

    }
    .down{
        display: flex;
        justify-content: center;
    }
    .b1downicon {
        z-index: 2;
        background-color: white;
        position: absolute;
        bottom: -110%;
        left: 49%;
    }
}
@media screen and (min-width: 2160px) {

}