.contact{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background-color: #FFF5EE;
}
.d1{
    margin-top: 100px;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Dosis";

}
.contact-section{
    position: absolute;
    bottom: -150%;
    left: 55%;
}
.contact-section h1 {
    text-align: center;
    color: black;
}

.border{
    width: 100px;
    height: 10px auto;
    background: #34495e;
    margin: 40px auto;
}
.contact-form {

    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5sec;
}
.contact-form-text:focus{
    box-shadow: 0 0 2px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;

}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1sec;
}
.contact-form-btn-:hover{
    background: #2980b9;
}
.footer{
    position: absolute;
    bottom: -187%;
    width: 100%;
    text-align: center;
    border-top: solid black 2px;
    padding-top: 2%;
}
.contacticons{
    position: absolute;
    left: 25%;
    bottom: -145%;
}
.emailed{
    font-size: 2em;

}
.linkedin{
    padding: 5%;
}
.github{
    padding: 5%;
}
.contactmoi{
    position: absolute;
    bottom: -100%;
    background-color: yellow;
    border-radius: 25px;
    border: solid 2px black;
    padding: 2px 100px 2px 100px;
    transform-origin: left;
}
.contactmoi:hover{
    transform: translatex(10px);


}
.contactmoi: