
html{
    scroll-behavior: smooth;
    font-size: 100%;
}
body{

    color: black;
    font-family: "Dosis";
    margin: 0;
    font-size: 100%;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    color: white;
}
.Page1{
    height: 95vh;
    min-width: 100%;
    position: relative;

    margin: 0;
}
.overlay{
    position: absolute;
    height: 95vh;
    width: 100%;
    opacity: 0.2;
    background-color: black;


}
.background{
    background: url("../assets/background.jpg") no-repeat fixed;
    background-size: cover;
    position: absolute;
    height: 95vh;
    width: 100%;

}
.banner{
    display: flex;
    position: fixed;
    height: 7%;
    width: 100%;
    text-align: center;
    justify-content: space-around;

}
.a2,.a3{
    list-style: none;
    text-align: center;
    font-size: 2em;
    padding: 1% 10% 1% 10%;
    color: black;
}
.logo{
    height: 100%;
    border-radius: 5px;
    background-color: #FFF5EE;
}
.main1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 93%;
    width: 100%;
}
.self{
    border-radius: 50%;
    position: absolute;
    opacity: 0.5;
    top: 20%;
    height: 20%;
    left: 35%;
}
.hi{
    position: absolute;
    top: 27%;
    font-size: 2px;
    color: white;
    left: 45%;
    padding-left: 10%;
}
.main2{
    position: absolute;
    left: 42.6%;
    bottom: 15%;
    min-width: 20%;
    display: inline-block;
}
.linked{
    padding: 10%
}
.cv{
    padding: 10%;
}
span{
    text-decoration: underline;
}
.down{
    text-align: center;
}
.downicon{
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    left: 48%;
}

/*  <---- Media Queries ----> */

/*  <---- Mobile Landscape ----> */

@media screen and (min-width: 360px) {
    .hi{
        font-size: 1em;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%);
        text-align: center;

    }
    .main2{
        bottom: 10%;
        left: 57%;
        margin-right: -50%;
        transform: translate(-50%);
    }
    .banner{

        flex-wrap: wrap;
    }
    .self{
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%);
        top: 23%;
    }

}

/*  <---- Tablet portrait ----> */

@media screen and (min-width: 768px) {
    .hi{
        font-size: 1.2em;
        top: 45%;
        left: 30%;
    }
    .banner{
        flex-wrap: nowrap;
    }
}

/*  <---- Tablet landscape ----> */

@media screen and (min-width: 992px) {
    .hi{
        font-size: 1.5em;
    }
}

/*  <---- Laptops + ----> */

@media screen and (min-width: 1200px) {
    .hi{
        font-size: 2em;
        top: 27%;
        left: 45%;
    }
    .self{
        left:35%;
    }
}
