.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: lightskyblue;
    width: 100%;
}
.contactmoi{

    background-color: black;
    color:white;
    border-radius: 25px;
    border: solid 2px black;
    padding: 1%;
    transition: background-color .2s ease-out;

}
.contactmoi:hover{
    transition: background-color .2s ease-out ;
    background-color: red;
}
.contacticons a{
    color: black;
}
*{
    margin: 0;
    padding: 0;
    font-family: "text";

}

.contact-section h1 {
    text-align: center;
    color: black;
}

.contact-form {

    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5sec;
}
.contact-form-text:focus{
    box-shadow: 0 0 2px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;

}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1sec;
}
.contacticons {
    display: flex;
}
.emailed{
    font-size: 2em;
}
.footer{
    width: 100%;
    text-align: center;
    border-top: solid black 2px;
    padding-top: 1%;
    padding-bottom: 1%;
}


/*  <---- Media Queries ----> */

/*  <---- Mobile Landscape ----> */

@media screen and (min-width: 360px) {
    .contact{
        transform: translateY(22%);
        height: 120vh;
    }
    .contacticons{

        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .emailed{
        font-size: 1.2em;
        padding-bottom: 10%;
    }
    .linkedin{
        height: 50%;
    }
    .github{
        height: 50%;
    }
    .contact-section{
        bottom: -161%;
        left: 18%;
    }
}

@media screen and (min-width: 666px) {
    .contact{
        transform: translateY(22%);
        height: 120vh;

    }
    .contacticons{

        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .emailed{
        font-size: 1.2em;
        padding-bottom: 10%;
    }
    .linkedin{
        height: 50%;
    }
    .github{
        height: 50%;
    }
    .contact-section{
        bottom: -161%;
        left: 18%;

    }
    .footer{
        background-color: lightskyblue;
    }
}
/*  <---- Tablet portrait ----> */

@media screen and (min-width: 768px) {
    .contact{
        height: 100vh;
    }
    .contacticons{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .emailed{
        font-size: 1.2em;
        padding-bottom: 10%;
    }
    .linkedin{
        height: 50%;
    }
    .github{
        height: 50%;
    }
    .contact-section{
        bottom: -161%;
        left: 18%;
    }
}

/*  <---- Tablet landscape ----> */

@media screen and (min-width: 992px) {
    .contacticons{
        left: 30%;
        bottom: -171%;

    }
    .emailed{
        font-size: 1.5em;
    }
    .linkedin{
        padding: 5%;

    }
    .github{
        padding: 5%;
    }
    .contact-section{
        bottom: -151%;
        left:40%;
    }
}

/*  <---- Laptops + ----> */

@media screen and (min-width: 1200px) {
    .contacticons{
        left: 35%;
        bottom: -171%;

    }
    .emailed{
        font-size: 1.5em;
    }
    .linkedin{
        padding: 5%;

    }
    .github{
        padding: 5%;
    }
    .contact-section{
        bottom: -151%;
        left:42%;
    }
}
@media screen and (min-width: 2160px) {
    .contacticons{
        position: absolute;
        left: 25%;
        bottom: -145%;
    }
    .emailed{
        font-size: 2em;

    }
    .linkedin{
        position: absolute;
        left: -6%;
        height: 300%;
        bottom: 500%;
    }
    .github{
        position: absolute;
        left: -6%;
        bottom: -700%;
        height: 300%;
    }
    .contact-section {
        position: absolute;
        bottom: -150%;
        left: 55%;
    }
}